@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Merriweather:wght@400;700&display=swap');

html {
  margin: 0 auto;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-weight: 100;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.container {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-bottom:20px;
}

.header > h1 {
  font-family: 'Gloock', serif;
}

.desc {
  font-size: 1.3rem;
  font-weight:400;
  font-family: 'Merriweather', serif;
}

table {
  border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 100%;
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: whitesmoke;
}

th {
	text-align: center;
}

tr > th {
  font-family: 'Gloock', serif;
  font-size: 1.1rem;
	background-color: rgba(255,255,255,0.3);

}

tbody > tr:hover {
  background-color: rgba(255,255,255,0.3);
}

tr > td {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}
tbody > td:hover :before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}

td.last{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

td.last > button{
  width: 25%;
  height: 13%;
  padding: 5px 0px;
  border-radius: 5px;
  background: none;
  border-color: whitesmoke;
  color: whitesmoke;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Merriweather', serif;
}

/* Landing */
.container > .link {
  text-decoration: underline;
  color: whitesmoke;
  font-size: 1.8rem;
  font-family: 'Gloock', serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cards {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.card > img {
  border-radius: 8px;
}